

body{ 
    background-color:#3f4975;


}  

#containerLogin{
   width: 350px;
   margin-top: 60px;
   background-image: linear-gradient(black, lightblue);
}

#formulario1 {
    margin-top: 30px;
}

#botonAuth {
    margin-bottom: 30px;
    margin-top:10px;
    width: 100%;
    height: 30px;
}
#avatar {
	 width: 295px;
    height: 295px;
}
	
